*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    color:blueviolet;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    height: 20vh;
    text-align: center;
    font-size: 100px;
    padding-top: 30px;
   
}
.galeria{
    display: flex;
    flex-direction: row;
    
}
img{
    padding: 25px;
    width: 33%;
    height: auto;
}